.Signup_page {
    display: flex;
    flex-direction: column;
    margin: 5% 35% 0%;
    font-size: larger;
    border-radius: 5%;
    background-color: #ededed;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
@media screen and (max-width: 700px) {
    .Signup_page {
        margin: 5% 15% 0%;
    }
}
.Signup_button_div {
	line-height: 50px;
	height: 50px;
	text-align: center;
	width: 250px;
	cursor: pointer;
}
.Signup_button {
	color: rgb(23, 21, 21);
	transition: all 0.3s;
	position: relative;
}
.Signup_button span {
	transition: all 0.3s;
}
.Signup_button::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: rgba(144, 144, 144, 0.5);
	border-bottom-color: rgba(144, 144, 144, 0.5);
	transform: scale(0.1, 1);
}
.Signup_button:hover span {
	letter-spacing: 2px;
}
.Signup_button:hover::before {
	opacity: 1;	
	transform: scale(1, 1);	
}
.Signup_button::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
	background-color: rgba(72, 72, 70, 0.1);
}
.Signup_button:hover::after {
	opacity: 0;	
	transform: scale(0.1, 1);
}
