table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  table td,
  table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  table tr:hover {
    background-color: #ddd;
  }
  
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(67, 44, 44);
    color: white;
  }
  table td {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(195, 195, 195);
    color: white;
    min-width: 50px;
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .del_button{
    background-color: transparent;
    width: 15px;
    height: 15px;
  }
  .edit_button{
    background-color: transparent;
    width: 15px;
    height: 15px;
  }
  